body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: seashell;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/my-bg.png);
}